- var products = [{title:"Recortes Jurídicos",new:!1,image:{svg:"/images/products-home-newspaper.svg",fallback:"/images/products-home-newspaper.png"},text:["<strong>Busca precisa</strong> de informações dos Diários oficiais e jurídicos de todo o país."],url:"/recortes",button:"Saiba mais"},{title:"Andamentos Processuais",new:!0,image:{svg:"/images/products-home-process.svg",fallback:"/images/products-home-process.png"},text:["<strong> Acompanhamento</strong> de todas as movimentações via número de processo."],url:"/andamentos",button:"Saiba mais"}];

.products__grid
  if products
    if (productLimit && productLimit > 0)
      - var n = 0;
      while (n < productLimit && n < products.length)
        - var product = products[n];
        .product(data-observe)
          article.product__card
            h1.product__title
              | #{product.title}
              if product.new
                span.product__label Novo
            picture.product__picture
              source(srcset=product.image.svg, type="image/svg+xml")
              img(src=product.image.fallback, alt="Texto alternativo da imagem.")
            .product__description.has--text
              each paragraph in product.text
                p !{product.text}
            a.product__button(href=product.url)= product.button
        - n++
    else
      each product in products
        .product(data-observe)
          article.product__card
            h1.product__title
              | #{product.title}
              if product.new
                span.product__label Novo
            picture.product__picture
              source(srcset=product.image.svg, type="image/svg+xml")
              img(src=product.image.fallback, alt="Texto alternativo da imagem.")
            .product__description.has--text
              each paragraph in product.text
                p !{product.text}
            a.product__button(href=product.url)= product.button
if (productLimit && productLimit > 0  && products.length > productLimit)
  //- .products__footer
  //-   a.products__continue(href="/produtos") Ver todos
